.radius
    display flex
    align-items center
    padding 4px 8px

    textFieldWidth = 75px
    .mdl-slider__container
        width 'calc(100% - %s)' % textFieldWidth

    .mdl-textfield
        width textFieldWidth
