.time
    position absolute
    top 60px
    right 0
    margin 5px
    background white

    select
    input
        height 30px
        border none
        background white
        border 1px solid rgba(black, .25)
        box-shadow 0px 1px 4px -1px rgba(black, .3)

    select
    option
        text-transform capitalize

    input
        width 70px
        margin-left -1px
