.mdl-layout__header
    .mdl-icon-toggle
        &.is-checked
            .mdl-icon-toggle__label
                color white
                opacity .9

        // .mdl-icon-toggle__label
        &__label
            color white
            opacity .3

        // .mdl-icon-toggle__ripple-container
        &__ripple-container
            .mdl-ripple
                background accent