.mdl-layout__header
    .mdl-icon-toggle
        &.is-checked
            .mdl-icon-toggle__label
                opacity .9

        .mdl-icon-toggle__label
            color white
            opacity .3
