.mdl-layout__content
    position relative

.page-content
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    display flex
    flex-direction column
    height 100%


@require 'app/components/header'
@require 'app/components/drawer'
@require 'app/components/map'
@require 'app/components/time'
@require 'app/components/radius'