.map
    display block
    flex-basis 100%

.infowindow
    // .infowindow__name
    &__name
        font-size 18px
        font-weight bold

    // .infowindow__address
    &__address
    // .infowindow__time
    &__time
        font-size 12px

    // .infowindow__description
    &__description
        margin 10px 0
        font-size 18px
