/* Reset */
@require 'app/normalize'

/* Variables */
@require 'app/variables'

/* Resets */
*, *:before, *:after
    box-sizing border-box

ul
figure
    padding 0
    margin 0

/* Style */
html
body
    height 100%


@require 'app/components/map'
@require 'app/components/form'